<div class="containerContent">
  <div class="header">
    <div  fxLayout="row" fxLayoutGap fxFlexFill fxLayoutAlign="space-between center" fxLayout>
      <div class="logo">
        <img src="./assets/icon/logo_icon.png" alt="logo">
      </div>
      <div>
        <div class="search">
          <input width="100px" placeholder="Nhập tìm kiếm..."/>
        <i class="material-icons">search</i>
        </div>
      </div>
    </div>
    <nav>
      <ul>
        <li *ngFor="let item of menu" [class.phase-active]="activeButton == item.activeButton">
          <a (click)="addClassActive(item.activeButton)" [routerLink]="item.link">{{item.name}}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content d-flex align-items-stretch justify-content-between flex-column">
    <div>
      <router-outlet></router-outlet>
    </div>
    <div class="footer" style="text-align: center;">
      <div class="link" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <p fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
          <span class="material-icons">facebook</span>
          <a style="padding-right: 20px;" href="https://www.facebook.com/vuonbatui" target="_blank">https://www.facebook.com/vuonbatui</a>
        </p>
        <p fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
          <span class="material-icons">mail</span>
          <a style="pointer-events: none;">amthucvuonbatui@outlook.com</a>
        </p>
      </div>
      <p>
        <span>Ẩm Thực Vườn Ba Tui</span><br/>
        <span class="style-italic">Kính Chào Quý Khách</span>
      </p>
    </div>
  </div>
  <div class="callNow">
    <button (click)="callNow()" type="button" class="btn btn-danger">
      <i class="material-icons">local_phone</i> <br>
    </button>
  </div>
</div>